<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sisgec</title>
    <style>
    </style>
</head>

<body>

    <section class="main">
        <div class="container">
            <h1 class="display-3 fw-bold">¡Bienvenido a <span class="text-warning">E-Commerce-GT</span>!</h1>
            <p class="lead mt-3">
                Esta es una aplicacion web en la que podras comprar una variedad de productos de diferentes categorias.
                Puedes consultar los productos disponibles, agregarlos a tu carrito de compras y realizar el proceso de
                pago de manera segura y sencilla.
                Recuerda que para comprar productos, debes iniciar sesion en tu cuenta.
            </p>
            <a href="/articulos" class="btn btn-start mt-4">Consultar productos disponibles</a>
            <p></p>
            <a href="/login" class="btn btn-start mt-4">Iniciar sesion</a>

        </div>
    </section>

    <footer class="bg-dark text-white text-center py-3 mt-auto">
        <small>E Commerce GT. Proyecto 2 - Archivos</small>
    </footer>
</body>

</html>