<h1 class="lbl-1">Bienvenido Usuario Comun</h1>
<section class="features">
    <div class="container">
        <div class="row text-center mb-4">
            <h2 class="fw-bold">¿Que puedes hacer en E-Commerce GT?</h2>
        </div>
        <div class="row g-4">
            <div class="col-md-4">
                <div class="card feature-card p-4">
                    <h4 class="fw-bold text-primary">Gestion de productos</h4>
                    <p>Compra, vende y califica productos.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card feature-card p-4">
                    <h4 class="fw-bold text-success">Seguimiento de pedidos</h4>
                    <p>Supervisa tus pedidos activos consultando datos importantes.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card feature-card p-4">
                    <h4 class="fw-bold text-danger">Gestion de perfil</h4>
                    <p>Visualiza y actualiza tus datos personales</p>
                </div>
            </div>
        </div>
    </div>
</section>